In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import time
import requests
import json

In [2]:
df_frugal5000 = pd.read_csv('./data/frugal_5000.csv')

In [3]:
df_frugal5001to10001 = pd.read_csv('./data/frugal_5001to10001.csv')

In [4]:
df_frugal10002to15002 = pd.read_csv('./data/frugal_10002to15002.csv')

In [5]:
df_frugal15003to20003 = pd.read_csv('./data/frugal_15003to20003.csv')

In [6]:
df_frugal20004to25004 = pd.read_csv('./data/frugal_20004to25004.csv')

In [7]:
frugals = [df_frugal5000, df_frugal5001to10001,  df_frugal10002to15002, df_frugal15003to20003, df_frugal20004to25004]

In [8]:
df_frugal = pd.concat(frugals)

In [9]:
df_frugal.shape

(18650, 27)

In [10]:
df_frugal.head(2)

,Unnamed: 0,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_patreon_flair,author_full,id,is_cr_ads,...,pwls,retr_on,score,stickied,subreddit,text,time,title,tot_awards,upvote_r
0,2,Poshbish,NaN,[],NaN,text,False,t2_52eti3bt,shvapq,False,...,6,1643723144,1,False,Frugal,My car mercury sable 2008 \nI don’t wanna buy ...,1643723134,Lost my car key drunk and the locksmiths are q...,0,1.0
1,6,ITNerd_Eze,NaN,[],NaN,text,False,t2_ak7c7q93,shmt3b,False,...,6,1643692203,1,False,Frugal,So I currently make 2400 a month. Have no car ...,1643692192,Apartment costs,0,1.0

In [11]:
df_frugal.isna().sum()

Unnamed: 0                    0
author                        0
author_flair_css_class    18600
author_flair_richtext         0
author_flair_text         18600
author_flair_type             0
author_patreon_flair          0
author_full                   0
id                            0
is_cr_ads                     0
is_cross_post                 0
is_orig_cont                  0
is_self                       0
is_vid                        0
num_comments                  0
num_cross                     0
pinned                        0
pwls                          0
retr_on                       0
score                         0
stickied                      0
subreddit                     0
text                          0
time                          0
title                         0
tot_awards                    0
upvote_r                      0
dtype: int64

In [12]:
df_frugal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18650 entries, 0 to 3699
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              18650 non-null  int64
 1   author                  18650 non-null  object
 2   author_flair_css_class  50 non-null     object
 3   author_flair_richtext   18650 non-null  object
 4   author_flair_text       50 non-null     object
 5   author_flair_type       18650 non-null  object
 6   author_patreon_flair    18650 non-null  bool
 7   author_full             18650 non-null  object
 8   id                      18650 non-null  object
 9   is_cr_ads               18650 non-null  bool
 10  is_cross_post           18650 non-null  bool
 11  is_orig_cont            18650 non-null  bool
 12  is_self                 18650 non-null  bool
 13  is_vid                  18650 non-null  bool
 14  num_comments            18650 non-null  int64
 15  num_cross               18650 non-null  int64
 16  pinned                  18650 non-null  bool
 17  pwls                    18650 non-null  int64
 18  retr_on                 18650 non-null  int64
 19  score                   18650 non-null  int64
 20  stickied                18650 non-null  bool
 21  subreddit               18650 non-null  object
 22  text                    18650 non-null  object
 23  time                    18650 non-null  int64
 24  title                   18650 non-null  object
 25  tot_awards              18650 non-null  int64
 26  upvote_r                18650 non-null  float64
dtypes: bool(8), float64(1), int64(8), object(10)
memory usage: 3.0+ MB

In [13]:
df_frugal['is_self'].value_counts()

True    18650
Name: is_self, dtype: int64

In [14]:
df_frugal['author_flair_type'].value_counts()

text    18650
Name: author_flair_type, dtype: int64

In [15]:
df_frugal['author_patreon_flair'].value_counts()

False    18650
Name: author_patreon_flair, dtype: int64

In [16]:
df_frugal['is_cr_ads'].value_counts()

False    18650
Name: is_cr_ads, dtype: int64

In [17]:
df_frugal['is_orig_cont'].value_counts()

False    18650
Name: is_orig_cont, dtype: int64

In [18]:
df_frugal['is_vid'].value_counts()

False    18650
Name: is_vid, dtype: int64

In [19]:
df_frugal['pinned'].value_counts()

False    18650
Name: pinned, dtype: int64

In [20]:
df_frugal['stickied'].value_counts()

False    18600
True        50
Name: stickied, dtype: int64

In [21]:
#Checking again for duplicates in main features of interest: text, subreddit, time, author, title
mini_frugal = df_frugal[['title', 'text', 'subreddit', 'time', 'author']]

In [22]:
mini_frugal.drop_duplicates

<bound method DataFrame.drop_duplicates of                                                   title  \
0     Lost my car key drunk and the locksmiths are q...
1                                       Apartment costs
2                     Update - how to get a cheap phone
3     Cheap Towing/Truck: Advice about downsizing my...
4             Minor dishwasher overhaul vs. replacement
...                                                 ...
3695             Do you only get 1 Honey offer per day?
3696  I’m tired of wasting cow milk - can someone he...
3697     Sources of Free / Cheap Scrap Graphite Blocks?
3698  Looking for a small, easily portable laptop fo...
3699  Does anyone know how to make a decent e-bike/e...

                                                   text subreddit        time  \
0     My car mercury sable 2008 \nI don’t wanna buy ...    Frugal  1643723134
1     So I currently make 2400 a month. Have no car ...    Frugal  1643692192
2     Motorola made the amazingly stupid decision to...    Frugal  1643688180
3     Hey All, \n\nI am looking for a little advice ...    Frugal  1643685955
4     My dishwasher wasn't washing well and the rack...    Frugal  1643685466
...                                                 ...       ...         ...
3695  I purchased a Samsung Smart TV and got $100 ba...    Frugal  1642460541
3696                                          [removed]    Frugal  1642460069
3697                                          [removed]    Frugal  1642457307
3698  I work full time and am a full time graduate s...    Frugal  1642455103
3699  An e-bike would be practical &amp; help me avo...    Frugal  1642453219

                    author
0                 Poshbish
1               ITNerd_Eze
2             Henri_Dupont
3                Storxusmc
4               oldcreaker
...                    ...
3695  SpectacularLifeNoise
3696    dependableumbrella
3697         itsallprocess
3698           LennyLouLou
3699         winningashlee

[18650 rows x 5 columns]>

In [23]:
mini_frugal.shape

(18650, 5)

In [24]:
df_frugal.to_csv('./data/frugal_total20k.csv')