In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import time
import requests
import json

In [2]:
df_fire5000 = pd.read_csv('./data/fire_5000.csv')

In [3]:
df_fire5001to10001 = pd.read_csv('./data/fire_5001to10001.csv')

In [4]:
df_fire10002to15002 = pd.read_csv('./data/fire_10002to15002.csv')

In [5]:
df_fire15003to20003 = pd.read_csv('./data/fire_15003to20003.csv')

In [6]:
fires = [df_fire5000, df_fire5001to10001,  df_fire10002to15002, df_fire15003to20003]

In [7]:
df_fire = pd.concat(fires)

In [8]:
df_fire.shape

(19700, 27)

In [9]:
df_fire.head(2)

,Unnamed: 0,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_patreon_flair,author_full,id,is_cr_ads,...,pwls,retr_on,score,stickied,subreddit,text,time,title,tot_awards,upvote_r
0,0,SMITBOMB,NaN,[],NaN,text,False,t2_3yxsd0ki,shz867,False,...,6,1643733499,1,False,Fire,"Lately, I’ve really been contemplating the pur...",1643733488,Do I really need to invest?,0,1.0
1,1,Riffington,NaN,[],NaN,text,False,t2_dyavg,shy55k,False,...,6,1643730749,1,False,Fire,I can’t seem to find the step by step roadmap ...,1643730738,Savings planning roadmap,0,1.0

In [10]:
df_fire.isna().sum()

Unnamed: 0                    0
author                        0
author_flair_css_class    19700
author_flair_richtext         0
author_flair_text         19700
author_flair_type             0
author_patreon_flair          0
author_full                   0
id                            0
is_cr_ads                     0
is_cross_post                 0
is_orig_cont                  0
is_self                       0
is_vid                        0
num_comments                  0
num_cross                     0
pinned                        0
pwls                          0
retr_on                       0
score                         0
stickied                      0
subreddit                     0
text                          0
time                          0
title                         0
tot_awards                    0
upvote_r                      0
dtype: int64

In [11]:
df_fire.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19700 entries, 0 to 4949
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              19700 non-null  int64
 1   author                  19700 non-null  object
 2   author_flair_css_class  0 non-null      float64
 3   author_flair_richtext   19700 non-null  object
 4   author_flair_text       0 non-null      float64
 5   author_flair_type       19700 non-null  object
 6   author_patreon_flair    19700 non-null  bool
 7   author_full             19700 non-null  object
 8   id                      19700 non-null  object
 9   is_cr_ads               19700 non-null  bool
 10  is_cross_post           19700 non-null  bool
 11  is_orig_cont            19700 non-null  bool
 12  is_self                 19700 non-null  bool
 13  is_vid                  19700 non-null  bool
 14  num_comments            19700 non-null  int64
 15  num_cross               19700 non-null  int64
 16  pinned                  19700 non-null  bool
 17  pwls                    19700 non-null  int64
 18  retr_on                 19700 non-null  int64
 19  score                   19700 non-null  int64
 20  stickied                19700 non-null  bool
 21  subreddit               19700 non-null  object
 22  text                    19700 non-null  object
 23  time                    19700 non-null  int64
 24  title                   19700 non-null  object
 25  tot_awards              19700 non-null  int64
 26  upvote_r                19700 non-null  float64
dtypes: bool(8), float64(3), int64(8), object(8)
memory usage: 3.2+ MB

In [15]:
df_fire['is_self'].value_counts()

True    19700
Name: is_self, dtype: int64

In [16]:
df_fire['author_flair_type'].value_counts()

text    19700
Name: author_flair_type, dtype: int64

In [17]:
df_fire['author_patreon_flair'].value_counts()

False    19700
Name: author_patreon_flair, dtype: int64

In [18]:
df_fire['is_cr_ads'].value_counts()

False    19700
Name: is_cr_ads, dtype: int64

In [20]:
df_fire['is_orig_cont'].value_counts()

False    19700
Name: is_orig_cont, dtype: int64

In [21]:
df_fire['is_vid'].value_counts()

False    19700
Name: is_vid, dtype: int64

In [22]:
df_fire['pinned'].value_counts()

False    19700
Name: pinned, dtype: int64

In [23]:
df_fire['stickied'].value_counts()

False    19700
Name: stickied, dtype: int64

In [12]:
#Checking again for duplicates in main features of interest: text, subreddit, time, author, title
mini_fire = df_fire[['title', 'text', 'subreddit', 'time', 'author']]

In [13]:
mini_fire.drop_duplicates

<bound method DataFrame.drop_duplicates of                                                   title  \
0                           Do I really need to invest?
1                              Savings planning roadmap
2            So when did you add 100% FI to your flair?
3                                    Quickest way to 1M
4     How on earth did some of you get such large Ro...
...                                                 ...
4945  Retirement planning confusion resolution and c...
4946  I'm 24 M about to turn 25 and I need help with...
4947  35 y/o aiming for FI in 5 years - quitting FA ...
4948                                   A little Success
4949  What’s a good monthly passive income # to fire...

                                                   text subreddit        time  \
0     Lately, I’ve really been contemplating the pur...      Fire  1643733488
1     I can’t seem to find the step by step roadmap ...      Fire  1643730738
2     Not there yet but curious. Was there a definin...      Fire  1643704533
3     I’m currently 20 years old at a Canadian colle...      Fire  1643698044
4     On occasion I read about people here  that hav...      Fire  1643694630
...                                                 ...       ...         ...
4945  Am I right in assuming that:\n\n1. If I spend ...      Fire  1642238381
4946  I made money off during the GME rally of Jan 2...      Fire  1642237670
4947  Looking for advice on the portfolio mix (and h...      Fire  1642234836
4948  Hi all! \n\nSharing some success. \n\nI quit m...      Fire  1642228840
4949  I’m in my mid 30s and have given up all of my ...      Fire  1642228073

                author
0             SMITBOMB
1           Riffington
2               Raz0r-
3        Fundingforis6
4     anteatertrashbin
...                ...
4945         lllrnr101
4946  throwaway_saveme
4947         aberryfox
4948     No-Leopard639
4949      throwawayrih

[19700 rows x 5 columns]>

In [14]:
mini_fire.shape

(19700, 5)

In [24]:
df_fire.to_csv('./data/fire_total20k.csv')

Sentiment Analysis

In [2]:
df_fire_all = pd.read_csv('./data/fire_total20k.csv')

In [3]:
df_fire_all.shape

(19700, 28)